[submodule "modules/prompt/external/powerline"]
	path = modules/prompt/external/powerline
	url = https://github.com/davidjrice/prezto_powerline.git
[submodule "modules/prompt/external/agnoster"]
	path = modules/prompt/external/agnoster
	url = https://github.com/agnoster/agnoster-zsh-theme.git
[submodule "modules/fasd/external"]
	path = modules/fasd/external
	url = https://github.com/clvv/fasd.git
[submodule "modules/prompt/external/powerlevel10k"]
	path = modules/prompt/external/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	shallow = true
